<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .home-text {
            font-size: 1.5em;
            border: 2px solid black;
            padding: 5px;
            background-color: rgba(255, 192, 203, 0.5);
        }
    </style>
</head>
<body>
    <header>
        <ul>
            <li>
                <a href="{{ url_for('home') }}" class="home-text">Home</a>
            </li>
            <br>
            {% if 'username' in session %}
            <li>
                <a href="{{ url_for('logout') }}">Деавторизуватися</a>
            </li>
            <li>
                <a href="{{ url_for('user', username=session.username) }}"><big>Мій Профіль</big></a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for('login') }}">Авторизація</a>
            </li>
            <li>
                <a href="{{ url_for('register') }}">Реєстрація</a>
            </li>
            {% endif %}
            <li>
                <a href="{{ url_for('about') }}"><small>Про Нас</small></a>
            </li>
        </ul>
    </header>

    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
<div>
    {% block content %}{% endblock %}
</div>
</body>
</html>
